body {
    padding: 0;
    margin: 0;

    transition: all 2ms;
}

.gallery {

    margin: 0;
    padding: 0;
    width: 100%;

    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.col{
    padding: 0;
    margin:0;
    
    display: flex;
    flex-direction: column;
    /* change % based on num of desired columns */
    width: 24.75%;


}

li {
    margin: 1.25% ;
    display: inline-block;
    background-color: green;
}


li a img {
    width: 100%;
    display: block;
    transition: all 200ms ease;
}

li a img:hover{
    transform: scale(1.05);
    transition: all 200ms ease;
}

img{
    padding: 0;
    margin:0;
}

/* will need to use js for full screen function*/
#FullImageView {
    z-index: 100;
    
    display: none;
    position: sticky;

    align-items: center;
    justify-content: center;
    margin-top: -100vh;

    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.9);

}

#FullImage {

    max-height: 90vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    
}